/* ssm */
@media screen and (max-width: 375.98px) {
    .gap-ssm-2 {
        gap: 0.2rem;
    }
    
    .gap-ssm-10 {
        gap: 1rem;
    }
    
    .gap-ssm-20 {
        gap: 2rem;
    }

    .bottom-ssm-8 {
        bottom: 0.8rem;
    }

    .py-ssm-8 {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
}

/* sm */
@media screen and (min-width: 576px) {
    
}

/* md */
@media screen and (min-width: 768px) {
    :root {
     --height-slider: 65rem;
    }

/* == Pointer None ========================== */
    .pe-md-none {
     pointer-events: none; /* Vô hiệu hóa click */
    }

/* === Display None ========================= */
    .d-md-none {
     display: none;
    }

/* == Display Flex ========================== */
    .d-md-flex {
     display: flex;
    }

    .flex-md-wrap {
     flex-wrap: wrap;
    }

/* == Display Grid ========================== */
    .grid-md-3-2 {
     grid-template-columns: auto auto auto;
     grid-template-rows: repeat(2, auto);
    }
       
    .grid-md-col-1 {
     grid-column: 1;
     grid-row: 1/3;
    }
       
    .grid-md-col-2-row-1 {
     grid-column: 2;
     grid-row: 1/2;
    }
       
    .grid-md-col-2-row-2 {
     grid-column: 2;
     grid-row: 2/3;
    }
       
    .grid-md-col-3 {
     grid-column: 3;
     grid-row: 1/3;
    }
   
/* == Column ========================== */
    .col-md-2 {
    flex: 0 0 50%;
    }
   
    .col-md-2-gap-30 {
    flex: 0 0 calc(calc(100% - 3rem) /2);
    }
       
    .col-md-3-gap-5 {
    flex: 0 0 calc(calc(100% - 1rem) /3);
    }
   
    .col-md-3-gap-20 {
    flex: 0 0 calc(calc(100% - 4rem) /3);
    }

/* == Gap ========================== */
    .gap-md-30 {
     gap: 3rem;
    }

/* == Justify Content ========================== */
    .justify-content-md-between {
     justify-content: space-between;
    }

/* == Border ========================== */  
    .border-md-none {
     border: none;
    }

    .text-md-center {
     text-align: center;
    }

    .pt-md-20 {
     padding-top: 2rem;
    }

    .top-md-225 {
     top: 22.5rem;
    }

    .left-md-130 {
     left: 13rem;
    }

    .fw-md-600 {
     font-weight: 600;
    }

    .footer-list-md {
     max-height: none !important;
     overflow: visible;
    }
}

/* lg */
@media screen and (min-width: 992px) {
    :root {
     --height-slider: 81rem;
     --position-img-slider: 50% center;
    }
    
    .d-lg-none {
     display: none;
    }

    .d-lg-block {
     display: block;
    }

    .flex-lg-auto {
     flex: auto;
    }

    .col-lg-25pct {
     flex: 0 0 25%;
    }

    .col-lg-50pct {
     flex: 0 0 50%;
    }

    .gap-lg-15 {
     gap: 1.5rem;
    }

    .gap-lg-20 {
     gap: 2rem;
    }
    
    .justify-content-lg-start {
     justify-content: start;
    }

    .pt-lg-1 {
     padding-top: 0.1rem;
    }
    
    .pt-lg-24 {
     padding-top: 2.4rem;
    }

    .pr-lg-10 {
     padding-right: 1rem;
    }

    .px-lg-30 {
     padding-left: 3rem;
     padding-right: 3rem;
    }

    .mx-lg-0 {
     margin-right: 0;
     margin-left: 0;
    }

    .top-lg-300 {
     top: 30rem;
    }

    .left-lg-220 {
     left: 22rem;
    }

}

/* xl */
@media screen and (min-width: 1200px) {
    .w-xl-max {
     width: 100%;
    }

    .opacity-xl-0 {
     opacity: 0;
    }
   
    .relative-xl {
     position: relative;
    }

    .absolute-xl {
     position: absolute;
    }
   
    .d-xl-none {
     display: none;
    }

   .d-xl-block {
    display: block;
   }

   .lh-xl-28 {
     line-height: 2.8rem;
    }

   .d-xl-flex {
    display: flex;
   }

   .flex-xl-nowrap {
    flex-wrap: nowrap;
   }

   .gap-xl-10 {
    gap: 1rem;
   }

   .gap-xl-30 {
    gap: 3rem;
   }

   .justify-content-xl-start {
    justify-content: start;
   }

   .justify-content-xl-end {
    justify-content: end;
   }

   .justify-content-xl-between {
    justify-content: space-between;
   }

   .z-index-xl-6 {
    z-index: 6;
   }

    .col-xl-3-gap-30 {
     flex: 0 0 calc(calc(100% - 6rem) /3);
    }

   .col-xl-4-17pct {
    flex: 0 0 calc(17%);
   }

   .col-xl-4-33pct {
    flex: 0 0 33%;
   }

    .col-xl-4-gap-30 {
        flex: 0 0 calc(calc(100% - 9rem) /4);
    }

    .col-xl-6-gap-5 {
        flex: 0 0 calc(calc(100% - 2.5rem) /6);
    }

    .fs-xl-36 {
     font-size: 3.6rem;
    }
   
    .fs-xl-45 {
     font-size: 4.5rem;
    }
   
    .fs-xl-80 {
    font-size: 8rem;
   }

   .lh-xl-80 {
    line-height: 8rem;
   }

   .pl-xl-15 {
    padding-left: 1.5rem;
   }

   .pb-xl-65 {
    padding-bottom: 6.5rem;
   }

   .px-xl-10 {
    padding-left: 1rem;
    padding-right: 1rem;
   }

   .px-xl-30 {
    padding-left: 3rem;
    padding-right: 3rem;
   }

   .px-xl-49 {
    padding-left: 4.9rem;
    padding-right: 4.9rem;
   }

   .px-xl-54 {
    padding-left: 5.4rem;
    padding-right: 5.4rem;
   }

   .py-xl-18 {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
   }

   .py-xl-21 {
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
   }

   .mt-xl-7 {
    margin-top: 0.7rem;
   }

   .mt-xl-8 {
    margin-top: 0.8rem;
   }

   .mt-xl-10 {
    margin-top: 1rem;
   }

   .mt-xl-11 {
    margin-top: 1.1rem;
   }

   .mt-xl-12 {
    margin-top: 1.2rem;
   }

   .mt-xl-13 {
    margin-top: 1.3rem;
   }

   .mt-xl-14 {
    margin-top: 1.4rem;
   }

   .mt-xl-15 {
    margin-top: 1.5rem;
   }

   .mt-xl-17 {
    margin-top: 1.7rem;
   }

   .mt-xl-18 {
    margin-top: 1.8rem;
   }

   .mt-xl-23 {
    margin-top: 2.3rem;
   }

   .mt-xl-28 {
    margin-top: 2.8rem;
   }

   .mt-xl-32 {
    margin-top: 3.2rem;
   }

   .mt-xl-33 {
    margin-top: 3.3rem;
   }

   .mt-xl-42 {
    margin-top: 4.2rem;
   }

   .mt-xl-45 {
    margin-top: 4.4rem;
   }

   .mt-xl-50 {
    margin-top: 5rem;
   }

   .mt-xl-94 {
    margin-top: 9.4rem;
   }

   .mt-xl-95 {
    margin-top: 9.5rem;
   }

   .mt-xl-96 {
    margin-top: 9.6rem;
   }

   .mt-xl-100 {
    margin-top: 10rem;
   }

   .mt-xl-108 {
    margin-top: 10.8rem;
   }

   .ml-xl-6 {
    margin-left: 0.6rem;
   }

   .mb-xl-2 {
    margin-bottom: 0.6rem;
   }

   .mb-xl-12 {
    margin-bottom: 1.2rem;
   }

   .mb-xl-22 {
    margin-bottom: 2.2rem;
   }

   .mb-xl-24 {
    margin-bottom: 2.4rem;
   }

   .mb-xl-53 {
    margin-bottom: 5.3rem;
   }

   .mr-xl-1 {
    margin-right: 0.1rem;
   }

   .top-xl-15 {
    top: 1.5rem;
   }

   .top-xl-40pct {
    top: 40%;
   }

   .top-xl-center {
    top: 50%;
    transform: translateY(-50%);
   }

   .left-xl--551pct {
    left: -551%;
   }

   .left-xl-50 {
    left: 5rem;
   }

   .right-xl-0 {
    right: 0rem;
   }

   .bottom-xl-23 {
    bottom: 2.3rem;
   }

   .bottom-xl-30 {
    bottom: 3rem;
   }

   .bottom-xl-44 {
    bottom: 4.4rem;
   }

   .icon-xl-trending,
   .icon-xl-arrivals {
    opacity: 0;
    transition: opacity, transform, 0.5s ease-out;
   }

   .wrapper-change:hover .icon-xl-trending,
   .wrapper-change:hover .icon-xl-arrivals {
    opacity: 1;
    transform: translateX(-1.5rem);
   }

   .btn-xl-trending,
   .btn-xl-arrivals {
    white-space: nowrap;
    transition: opacity 0.5s ease-out, transform 0.8s ease-out;
   }

   .btn-xl-trending:hover,
   .btn-xl-arrivals:hover {
    color: var(--white);
    background-color: var(--black);
   }

   .wrapper-change:hover .btn-xl-trending,
   .wrapper-change:hover .btn-xl-arrivals {
    opacity: 1;
    transform: translateX(-50%) translateY(-1.5rem); /* thêm translateX(-50%) để bù cho left-center */
   }
}

/* xxl */
@media screen and (min-width: 1400px) {
    .justify-content-xxl-center {
        justify-content: center;
    }
    
    .d-xxl-block {
        display: block;
    }

    .d-xxl-flex {
        display: flex;
    }

    .width-xxl-141 {
        max-width: 141rem;
    }
    
    .gap-xxl-20 {
        gap: 2rem;
    }

    .gap-xxl-30 {
        gap: 3rem;
    }

    .gap-xxl-31 {
        gap: 3.1rem;
    }

    .gap-xxl-32 {
        gap: 3.2rem;
    }

    .ml-xxl-1 {
        margin-left: 0.1rem;
    }

    .mr-xxl-2 {
        margin-right: 0.2rem;
    }

    .mr-xxl-95 {
        margin-right: 9.5rem;
    }

    .top-xxl-250 {
        top: 25rem;
    }

    .left-xxl-353 {
        left: 35.3rem;
    }
}