/* sm */
@media screen and (min-width: 576px) {
    
}

/* md */
@media screen and (min-width: 768px) {
    :root {
        --height-slider: 65rem;
    }

    .text-md-center {
        text-align: center;
    }

    .top-md-225 {
        top: 22.5rem;
    }

    .left-md-130 {
        left: 13rem;
    }
}

/* lg */
@media screen and (min-width: 992px) {
    :root {
        --height-slider: 81rem;
        --position-img-slider: 50% center;
    }
    
    .d-lg-none {
        display: none;
    }

    .d-lg-block {
        display: block;
    }

    .gap-lg-15 {
        gap: 1.5rem;
    }

    .gap-lg-20 {
        gap: 2rem;
    }
    
    .justify-content-lg-start {
        justify-content: start;
    }
    
    .pt-lg-24 {
        padding-top: 2.4rem;
    }

    .pr-lg-10 {
        padding-right: 1rem;
    }


    .px-lg-30 {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .mr-lg-50 {
        margin-right: 5rem;
    }

    .top-lg-300 {
        top: 30rem;
    }

    .left-lg-220 {
        left: 22rem;
    }

}

/* xl */
@media screen and (min-width: 1200px) {
   .fs-xl-80 {
    font-size: 8rem;
   }

   .lh-xl-80 {
    line-height: 8rem;
   }

   .px-xl-54 {
    padding-left: 5.4rem;
    padding-right: 5.4rem;
   }

   .py-xl-21 {
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
   }

   .mb-xl-24 {
    margin-bottom: 2.4rem;
   }

   .mb-xl-53 {
    margin-bottom: 5.3rem;
   }
}

/* xxl */
@media screen and (min-width: 1400px) {
    .d-xxl-block {
        display: block;
    }

    .d-xxl-flex {
        display: flex;
    }
    
    .gap-xxl-20 {
        gap: 2rem;
    }
    
    .gap-xxl-30 {
        gap: 3rem;
    }

    .mr-xxl-95 {
        margin-right: 9.5rem;
    }

    .top-xxl-252 {
        top: 25.2rem;
    }

    .left-xxl-352 {
        left: 35.2rem;
    }
}