html {
    font-family: Jost;
    /* width: 1920px; */
    /* background-color: var(--black); */
}

/* === Pseudo =============== */
:root {
    /* == Color === */
    --black: #111111;
    --white: #FFFFFF;
    --white-smoke: #F5F5F5;
    --gray-light: #DDDDDD;
    --gray-lighter: #EBEBEB;
    --gray-medium: #999999;
    --gray-dark: #555555;
    --orange-red: #d0473e;
    --green: #26A66A;
    --blue: #516CF4;
    --coral-red: #e74c3c;
    --strong-red: #c0392b;
    --dark-red: #c0392b;
    --color-trending: #F5F5F5;
    --color-slider: #f6f6f6;
    /* ========= */
    --height-slider: 55rem;
    --position-img-slider: 60% center;
}

/* === Background Color =============== */
.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-white-smoke {
    background-color: var(--white-smoke);
}

.bg-gray-light {
    background-color: var(--gray-light);
}

.bg-gray-lighter {
    background-color: var(--gray-lighter);
}

.bg-gray-medium {
    background-color: var(--gray-medium);
}

.bg-gray-dark {
    background-color: var(--gray-dark);
}

.bg-orange-red {
    background-color: var(--orange-red);
}

.bg-green {
    background-color: var(--green);
}

.bg-blue {
    background-color: var(--blue);
}

/* === Color =============== */
.color-black {
    color: var(--black);
}

.color-white {
    color: var(--white);
}

.color-gray-light {
    color: var(--gray-light);
}

.color-gray-lighter {
    color: var(--gray-lighter);
}

.color-gray-medium {
    color: var(--gray-medium);
}

.color-gray-dark {
    color: var(--gray-dark);
}

.color-orange-red {
    color: var(--orange-red);
}

.color-green {
    color: var(--green);
}

.color-blue {
    color: var(--blue);
}

/* === Hover ================= */
.hover-right-6 {
    transition: transform 0.2s ease-in-out;
}

.hover-right-6:hover {
    transform: translateX(6%);
}

.hover-black:hover {
    color: var(--black);
}

.hover-orange-red:hover {
    color: var(--orange-red);
}

.hover-black:hover svg {
    filter: brightness(0) invert(0); /* Icon footer */
}

.hover-border-black:hover {
    border-color: var(--black);
}

/*=== Cursor =================*/
.cursor-pointer {
    cursor: pointer;
}

/*=== Overlay =================*/
.overlay {
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

/*=== Box-Border =================*/
.box-border {
    box-sizing: border-box;
}
  
/*=== Relative =================*/
.relative {
    position: relative;
}

/*=== Absolute =================*/
.absolute {
    position: absolute;
}

/* === Fixed ==================== */
.fixed {
    position: fixed;
}

/* === Sticky ==================== */
.sticky {
    position: sticky;
}

/* === Overflow ================= */
.overflow-hidden {
    overflow: hidden;
}

.overflow-y {
    overflow-y: auto;
}

.overflow-auto {
    overflow: auto;
    scrollbar-width: 100%;
}

.overflow-x::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn trên Chrome, Safari */
}

/*=== Tooltip =================*/
.tooltip {
    position: relative;
}

.tooltiptext {
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    white-space: nowrap;
    border-radius: 0.5rem;
    padding: 1rem;
    opacity: 0;
}

.tooltiptext-top {
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltiptext-lefr {
    bottom: 15%;
    right: 115%;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    border-width: 0.5rem;
    border-style: solid;
}

.tooltiptext-after-top::after {
    border-color: var(--black) transparent transparent transparent;
    top: 100%;
    left: 45%;
}

.tooltiptext-after-left::after {
    border-color: transparent transparent transparent var(--black);
    top: 33%;
    left: 99%;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

/*=== Text =================*/
.text-center {
    text-align: center;
}

.text-decoration-display {
    text-decoration: underline;
}

.text-nowrap {
    white-space: nowrap
}

.text-hover-gray:hover {
    color: var(--gray-dark);
}

/* === Img =============== */
.img {
    display: block;
    width: 100%;
    height: 100%;
}

.img-zoom {
    transition: transform 1s ease-in-out;
}

.img-hidden {
    transition: opacity 0.5s ease-in;
}

.img-change {
    opacity: 0;
    transition: opacity, transform, 0.5s ease-in-out;
}

.wrapper-zoom:hover .img-zoom {
    transform: scale(1.1);
}

.wrapper-hidden:hover .img-hidden {
    opacity: 0;
}

.wrapper-change:hover .img-change {
    opacity: 1;
    transform: scale(1.1);
}

/* === Z-Index =============== */
.z-index-2 {
    z-index: 2;
}

.z-index-4 {
    z-index: 4;
}

.z-index-98 {
    z-index: 98;
}

.z-index-100 {
    z-index: 100;
}

.z-index-102 {
    z-index: 102;
}

.z-index-999 {
    z-index: 999;
}

/* === Opacity =============== */
.opacity-0 {
    opacity: 0;
}

.opacity-60 {
    opacity: 0.6;
}

/* === Display None =============== */
.d-none {
    display: none;
}

/* === Display Block =============== */
.d-block {
    display: block;
}

/* === Display Grid ========= */
.d-grid {
    display: grid;
}
  
.grid-2-3 {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
}
  
.grid-col-1-row-1 {
    grid-column: 1;
    grid-row: 1/3;
}
  
.grid-col-1-row-2 {
    grid-column: 1;
    grid-row: 3/4;
}
  
.grid-col-2-row-1 {
    grid-column: 2;
    grid-row: 1/2;
}
  
.grid-col-2-row-2 {
    grid-column: 2;
    grid-row: 2/4;
}

/* === Display Flex ========= */
.d-flex {
    display: flex;
}

.flex-fill {
    flex: 1 1 auto;
}

.flex-77pct {
    flex: 0 0 76.7%;
}

.flex-70pct {
    flex: 0 0 70%;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-grow-1 {
    flex-grow: 1;
}

/* === Gap ========= */
.gap-1 {
    gap: 0.1rem;
}

.gap-2 {
    gap: 0.2rem;
}

.gap-5 {
    gap: 0.5rem;
}

.gap-7 {
    gap: 0.7rem;
}

.gap-10 {
    gap: 1rem;
}

.gap-11 {
    gap: 1.1rem;
}

.gap-17 {
    gap: 1.7rem;
}

.gap-20 {
    gap: 2rem;
}

.gap-25 {
    gap: 2.5rem;
}

.gap-30 {
    gap: 3rem;
}

.gap-81 {
    gap: 8.1rem;
}

/* === Column ========= */
.col-1-gap-2 {
    flex: 0 0 calc(100% - 0.2rem);
}

.col-2-gap-20 {
    flex: 0 0 calc(calc(100% - 2rem) /2);
}

.col-2-gap-5 {
    flex: 0 0 calc(calc(100% - 0.5rem) /2);
}

.col-33pct {
    flex: 0 0 33.33%;
}

/* === Justify Content ========= */
.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

/* === Align Items ========= */
.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

.align-items-center {
    align-items: center;
}

.align-content-center {
    align-content: center;
}

/* === Border ================= */
.border {
    border: solid;
}

.border-none {
    border: none;
    outline: none;
}

.border-top {
    border-top: solid;
}

.border-bottom {
    border-bottom: solid;
}

.border-1 {
    border-width: 0.1rem;
}

.border-black {
    border-color: var(--black) !important;
}

.border-gray-lighter {
    border-color: var(--gray-lighter);
}

.border-gray-medium {
    border-color: var(--gray-medium);
}

/*=== Rounded =================*/
.rounded-circle-5 {
    border-radius: 0.5rem;
}

.rounded-circle-10 {
    border-radius: 1rem;
}

.rounded-circle-35 {
    border-radius: 3.5rem;
}

.rounded-circle-50 {
    border-radius: 5rem;
}

/* === Padding Top ========= */
.pt-2 {
    padding-top: 0.2rem;
}

.pt-4 {
    padding-top: 0.4rem;
}

.pt-6 {
    padding-top: 0.6rem;
}

.pt-14 {
    padding-top: 1.4rem;
}

.pt-15 {
    padding-top: 1.5rem;
}

.pt-16 {
    padding-top: 1.6rem;
}

.pt-17 {
    padding-top: 1.7rem;
}

.pt-18 {
    padding-top: 1.8rem;
}

.pt-19 {
    padding-top: 1.9rem;
}

.pt-20 {
    padding-top: 2rem;
}

.pt-21 {
    padding-top: 2.1rem;
}

.pt-22 {
    padding-top: 2.2rem;
}

.pt-28 {
    padding-top: 2.8rem;
}

.pt-35 {
    padding-top: 3.5rem;
}

.pt-47 {
    padding-top: 4.7rem;
}

.pt-68 {
    padding-top: 6.8rem;
}

/* === Padding Left ========= */
.pl-30 {
    padding-left: 3rem;
}

.pl-255 {
    padding-left: 25.5rem;
}

/* === Padding Bottom ========= */
.pb-1 {
    padding-bottom: 0.1rem;
}

.pb-3 {
    padding-bottom: 0.3rem;
}

.pb-4 {
    padding-bottom: 0.4rem;
}

.pb-12 {
    padding-bottom: 1.2rem;
}

.pb-15 {
    padding-bottom: 1.5rem;
}

.pb-16 {
    padding-bottom: 1.6rem;
}

.pb-17 {
    padding-bottom: 1.7rem;
}


.pb-18 {
    padding-bottom: 1.8rem;
}

.pb-20 {
    padding-bottom: 2rem;
}

.pb-22 {
    padding-bottom: 2.2rem;
}

.pb-25 {
    padding-bottom: 2.5rem;
}

.pb-28 {
    padding-bottom: 2.8rem;
}

.pb-30 {
    padding-bottom: 3rem;
}

.pb-33 {
    padding-bottom: 3.2rem;
}

.pb-35 {
    padding-bottom: 3.5rem;
}

/* === Padding Right ========= */
.pr-1 {
    padding-right: 0.1rem;
}

.pr-12 {
    padding-right: 1.2rem;
}

.pr-21 {
    padding-right: 2.1rem;
}

.pr-35 {
    padding-right: 3.5rem;
}

.pr-261 {
    padding-right: 26.1rem;
}

/* === Padding ========= */
.p-30 {
    padding: 3rem;
}

/* === Padding X ========= */
.px-2 {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.px-3 {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.px-4 {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.px-5 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-6 {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.px-7 {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.px-10 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-13 {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.px-16 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.px-18 {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}


.px-19 {
    padding-left: 1.9rem;
    padding-right: 1.9rem;
}

.px-20 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-21 {
    padding-left: 2.1rem;
    padding-right: 2.1rem;
}

.px-26 {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
}

.px-30 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-40 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.px-44 {
    padding-left: 4.4rem;
    padding-right: 4.4rem;
}

.px-45 {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.px-92 {
    padding-left: 9.2rem;
    padding-right: 9.2rem;
}

.px-100 {
    padding-left: 10rem;
    padding-right: 10rem;
}

/* === Padding Y ========= */
.py-3 {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.py-5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-6 {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.py-8 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.py-10 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-11 {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

.py-12 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.py-13 {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.py-16 {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.py-17 {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}

.py-18 {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

.py-20 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-23 {
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
}

/* === Margin Top ========= */
.mt-1 {
    margin-top: 0.1rem;
}

.mt-2 {
    margin-top: 0.2rem;
}

.mt-3 {
    margin-top: 0.3rem;
}

.mt-4 {
    margin-top: 0.4rem;
}

.mt-6 {
    margin-top: 0.6rem;
}

.mt-7 {
    margin-top: 0.7rem;
}

.mt-8 {
    margin-top: 0.8rem;
}

.mt-9 {
    margin-top: 0.9rem;
}

.mt-10 {
    margin-top: 1rem;
}

.mt-11 {
    margin-top: 1.1rem;
}

.mt-12 {
    margin-top: 1.2rem;
}

.mt-16 {
    margin-top: 1.6rem;
}

.mt-17 {
    margin-top: 1.7rem;
}

.mt-18 {
    margin-top: 1.8rem;
}

.mt-19 {
    margin-top: 1.9rem;
}

.mt-20 {
    margin-top: 2rem;
}

.mt-21 {
    margin-top: 2.1rem;
}

.mt-23 {
    margin-top: 2.3rem;
}

.mt-24 {
    margin-top: 2.4rem;
}

.mt-26 {
    margin-top: 2.6rem;
}

.mt-27 {
    margin-top: 2.7rem;
}

.mt-28 {
    margin-top: 2.8rem;
}

.mt-35 {
    margin-top: 3.5rem;
}

.mt-43 {
    margin-top: 4.3rem;
}

.mt-54 {
    margin-top: 5.4rem;
}

.mt-55 {
    margin-top: 5.5rem;
}

.mt-56 {
    margin-top: 5.6rem;
}

.mt-58 {
    margin-top: 5.8rem;
}

.mt-60 {
    margin-top: 6rem;
}

/* === Margin Left ========= */
.ml-1 {
    margin-left: 0.1rem;
}

.ml-3 {
    margin-left: 0.3rem;
}

.ml-4 {
    margin-left: 0.4rem;
}

.ml-5 {
    margin-left: 0.5rem;
}

.ml-6 {
    margin-left: 0.6rem;
}

.ml-9 {
    margin-left: 0.9rem;
}

.ml-10 {
    margin-left: 1rem;
}

.ml-20 {
    margin-left: 2rem;
}

.ml-25 {
    margin-left: 2.5rem;
}

.ml-29 {
    margin-left: 2.9rem;
}

.ml-31 {
    margin-left: 3.1rem;
}

/* === Margin Bottom ========= */
.mb-8 {
    margin-bottom: 0.8rem;
}

.mb-10 {
    margin-bottom: 1rem;
}

.mb-14 {
    margin-bottom: 1.4rem;
}

.mb-15 {
    margin-bottom: 1.5rem;
}

.mb-17 {
    margin-bottom: 1.7rem;
}

.mb-18 {
    margin-bottom: 1.8rem;
}

.mb-19 {
    margin-bottom: 1.9rem;
}

.mb-20 {
    margin-bottom: 2rem;
}

.mb-22 {
    margin-bottom: 2.2rem;
}

.mb-30 {
    margin-bottom: 2.8rem;
}

.mb-34 {
    margin-bottom: 3.4rem;
}

/* === Margin Right ========= */
.mr-1 {
    margin-right: 0.1rem;
}

.mr-2 {
    margin-right: 0.2rem;
}

.mr-3 {
    margin-right: 0.3rem;
}

.mr-4 {
    margin-right: 0.4rem;
}

.mr-5 {
    margin-right: 0.5rem;
}

.mr-11 {
    margin-right: 1.1rem;
}

.mr-25 {
    margin-right: 2.5rem;
}

.mr-49 {
    margin-right: 4.9rem;
}

/* === Margin ========= */
.m-auto {
    margin: auto;
}

/* === Margin X ========= */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* === Margin Y ========= */


/* === Top ========= */
.top-center {
    top: 50%;
    transform: translateY(-50%);
}

.top-120pct {
    top: 120%;
}

.top-0 {
    top: 0rem;
}

.top-9 {
    top: 0.9rem;
}

.top-10 {
    top: 1rem;
}

.top-175 {
    top: 17.5rem;
}

/* === Left ========= */
.left-center {
    left: 50%;
    transform: translateX(-50%);
}

.left--48pct {
    left: -48%;
}

.left--180pct {
    left: -180%;
}

.left-0 {
    left: 0rem;
}

.left-21 {
    left: 2.1rem;
}

.left-30 {
    left: 3rem;
}

/* === Bottom ========= */
.bottom-0 {
    bottom: 0rem;
}

.bottom-13 {
    bottom: 1.3rem;
}

.bottom-21 {
    bottom: 2.1rem;
}

.bottom-25 {
    bottom: 2.5rem;
}

.bottom-86 {
    bottom: 8.6rem;
}

.bottom-156 {
    bottom: 15.6rem;
}

.bottom-30pct {
    bottom: 40%;
}

/* === Right ========= */
.right-0 {
    right: 0rem;
}

.right-10 {
    right: 1rem;
}

.right-19 {
    right: 1.9rem;
}

.right-20 {
    right: 2rem;
}

.right-30 {
    right: 3rem;
}

.right-2pct {
    right: 5%;
}

/* === Line Height ========= */
.lh {
    line-height: 100%;
}

.lh-24 {
    line-height: 2.4rem;
}

.lh-28 {
    line-height: 2.8rem;
}

.lh-45 {
    line-height: 4.5rem;
}

/* === Font Size ========= */
.fs-9 {
    font-size: 0.9rem;
}

.fs-10 {
    font-size: 1rem;
}

.fs-12 {
    font-size: 1.2rem;
}

.fs-14 {
    font-size: 1.4rem;
}

.fs-16 {
    font-size: 1.6rem;
}

.fs-18 {
    font-size: 1.8rem;
}

.fs-23 {
    font-size: 2.3rem;
}

.fs-30 {
    font-size: 3rem;
}

.fs-36 {
    font-size: 3.6rem;
}

.fs-40 {
    font-size: 4rem;
}

/* === Font Weight ========= */
.fw-400{
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

/* === Btn ========= */
.btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
}

.btn-black {
    color: var(--white);
    border-color: var(--black);
    background-color: var(--black);
}

.btn-white {
    color: var(--black);
    border-color: var(--white);
    background-color: var(--white);
}

.btn-text-trending:hover {
    background-color: var(--color-trending);
}

.btn-icon-trending:hover,
.btn-icon-arrivals:hover {
    color: var(--white);
    background-color: var(--black);
}

.btn-color {
    width: 1.8rem;
    height: 1.8rem;
}

.btn-color-hover:hover {
    border: 0.1rem solid var(--black);
}

.btn-trending-prev:hover,
.btn-trending-next:hover,
.btn-arrivals-prev:hover,
.btn-arrivals-next:hover,
.btn-feedback-prev:hover,
.btn-feedback-next:hover {
    background-color: var(--black);
    color: var(--white);
}

.btn-slideshow-trending,
.btn-slideshow-arrivals,
.btn-slideshow-feedback {
    user-select: none;
}

.wrapper:hover .btn-slideshow-trending,
.wrapper:hover .btn-slideshow-arrivals,
.wrapper:hover .btn-slideshow-feedback {
    opacity: 1;
}

.btn-banner {
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: 2rem;
}

.btn-banner::before {
    content: "";
    position: absolute;
    height: 0.2rem;
    width: 100%;
    background-color: var(--black);
    top: 80%;
    left: 0;
}

.btn-banner:hover {
    color: var(--gray-dark);
}

.card-banner:hover .btn-banner::before {
    animation: btn-banner-hover 0.7s infinite;
}

@keyframes btn-banner-hover {
    from {left: -100%;}
    to {left: 100%;}
}

/* === Width ==================== */
.w-100vw {
    width: 100vw;
}

/* === Height ==================== */
.h-100vh {
    height: 100vh;
}

/* ======================= */
.line-notification {
    width: 100%;
    height: 0.1rem;
}

.card-feedback {
    scroll-snap-align: center;
    user-select: none;
}

.footer-list {
    list-style: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.footer-list .active {
    max-height: none;
}

.wrapper-menu-pc:hover .list-home-pc,
.wrapper-menu-pc:hover .list-shop-pc {
    display: block;
}

/* === Progress Bar ==================== */
.progress-bar {
    height: 0.5rem;
    width: 100%;
}

.progress-fill {
    height: 100%;
    width: 28%; /* Giá trị ban đầu, có thể thay đổi bằng JS */
    background: repeating-linear-gradient(
        -45deg,
        var(--orange-red),
        var(--coral-red) 1rem,
        var(--dark-red) 1rem,
        var(--dark-red) 2rem
    );
}

.progress-icon {
    top: -270%;
    left: 28%;
    transform: translateX(-50%);
}

/* === Slider ==================== */
.slider {
    width: 100%;
    height: var(--height-slider);
    background-color: var(--color-slider);
}

.slide {
    flex: 0 0 100%;
    opacity: 0.4;
    transition: opacity 1s ease;
}

.slide.active {
    opacity: 1;
}

.img-slide {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--position-img-slider);
}

.prev:hover, 
.next:hover {
    background-color: var(--black);
    color: var(--white);
}

.slider-dots {
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    height: 0.8rem;
    width: 0.8rem;
    margin: 0.5rem;
    background-color: var(--gray-medium);
    border-radius: 50%;
    display: inline-block;
}

.dot:hover {
    background-color: var(--gray-dark);
}

.dot.active {
    background-color: var(--black);
}

/* === Rating ================= */
.rate-input:checked ~ label,
.rate-input:checked ~ label ~ label {
    color: var(--black);
}

.rate-label:hover,
.rate-label:hover ~ label {
    color: var(--black);
}

/* === Mini Cart ================= */
.cart {
    width: 45rem;
    max-width: 100%;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
}

.cart.open {
    transform: translateX(0);
    opacity: 1;
}

.overlay-cart {
    transition: opacity 0.4s ease-in-out;
}

.overlay-cart.show {
    opacity: 1;
    visibility: visible;
}

.cart-item {
    border-bottom: 0.1rem solid var(--gray-light);
}

/* === Menu Mobile ================= */
.wrapper:hover .icon-language,
.wrapper:hover .icon-currency {
    border-color: var(--black);
}

.wrapper:hover .text-language,
.wrapper:hover .text-currency {
    text-decoration: underline;
}

.menu-mobile {
    width: 43rem;
    max-width: 100%;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
}

.menu-mobile.open {
    transform: translateX(0);
    opacity: 1;
}

.overlay-menu-mobile {
    transition: opacity 0.4s ease-in-out;
}

.overlay-menu-mobile.show {
    opacity: 1;
    visibility: visible;
}

.sub-home,
.sub-shop,
.sub-shop-layout {
    width: 43rem;
    max-width: 100%;
    transition: transform 0.4s ease-in-out;
    transform: translateX(-110%);
}

.sub-home.open,
.sub-shop.open,
.sub-shop-layout.open {
    transform: translateX(0);
}

/* === Sticky ================= */
.sticky-bottom {
    transform: translateY(100%); /* Mặc định ẩn xuống */
    transition: transform 0.3s ease-in-out;
}

.sticky-bottom.show {
    transform: translateY(0); /* Hiện từ dưới lên */
}