html {
    font-family: Jost;
    /* width: 1920px; */
    /* background-color: var(--black); */
}


/* === Pseudo =============== */
:root {
    /* == Color === */
    --black: #111111;
    --white: #FFFFFF;
    --gray-light: #DDDDDD;
    --gray-lighter: #EBEBEB;
    --gray-medium: #999999;
    --gray-dark: #555555;
    --orange-red: #d0473e;
    --green: #26A66A;
    --color-trending: #F5F5F5;
    --color-slider: #f6f6f6;
    /* ========= */
    --height-slider: 55rem;
    --position-img-slider: 60% center;
}

/* === Background Color =============== */
.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-gray-light {
    background-color: var(--gray-light);
}

.bg-gray-lighter {
    background-color: var(--gray-lighter);
}

.bg-gray-medium {
    background-color: var(--gray-medium);
}

.bg-gray-dark {
    background-color: var(--gray-dark);
}

.bg-orange-red {
    background-color: var(--orange-red);
}

.bg-green {
    background-color: var(--green);
}

/* === Color =============== */
.color-black {
    color: var(--black);
}

.color-white {
    color: var(--white);
}

.color-gray-light {
    color: var(--gray-light);
}

.color-gray-lighter {
    color: var(--gray-lighter);
}

.color-gray-medium {
    color: var(--gray-medium);
}

.color-gray-dark {
    color: var(--gray-dark);
}

.color-orange-red {
    color: var(--orange-red);
}

.color-green {
    color: var(--green);
}

/*=== Cursor =================*/
.cursor-pointer {
    cursor: pointer;
}

/*=== Relative =================*/
.relative {
    position: relative;
}

/*=== Absolute =================*/
.absolute {
    position: absolute;
}

/* === Overflow ================= */
.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
    scrollbar-width: 100%;
}

.overflow-x {
    overflow-x: auto; /* Đảm bảo có thể cuộn ngang */
    white-space: nowrap;
    display: flex;
    scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
}

.overflow-x::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn trên Chrome, Safari */
}

/*=== Tooltip =================*/
.tooltip {
    position: relative;
}

.tooltiptext {
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    white-space: nowrap;
    border-radius: 0.5rem;
    padding: 1rem;
    opacity: 0;
}

.tooltiptext-top {
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltiptext-lefr {
    bottom: 15%;
    right: 115%;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    border-width: 0.5rem;
    border-style: solid;
}

.tooltiptext-after-top::after {
    border-color: var(--black) transparent transparent transparent;
    top: 100%;
    left: 45%;
}

.tooltiptext-after-left::after {
    border-color: transparent transparent transparent var(--black);
    top: 33%;
    left: 99%;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

/*=== Text =================*/
.text-center {
    text-align: center;
}

.text-decoration-display {
    text-decoration: underline;
}

.text-hover-gray:hover {
    color: var(--gray-dark);
}

/* === Img =============== */
.img {
    display: block;
    width: 100%;
    height: 100%;
}

.img-zoom {
    transition: transform 1s ease-in-out;
}

.img-hidden {
    transition: opacity 0.5s ease-in;
}

.img-change {
    opacity: 0;
    transition: opacity, transform, 0.5s ease-in-out;
}

.wrapper-zoom:hover .img-zoom {
    transform: scale(1.1);
}

.wrapper-hidden:hover .img-hidden {
    opacity: 0;
}

.wrapper-change:hover .img-change {
    opacity: 1;
    transform: scale(1.1);
}

/* === Z-Index =============== */
.z-index-2 {
    z-index: 2;
}

.z-index-4 {
    z-index: 4;
}

/* === Opacity =============== */
.opacity-0 {
    opacity: 0;
}

/* === Display None =============== */
.d-none {
    display: none;
}

/* === Display Block =============== */
.d-block {
    display: block;
}

/* === Display Grid ========= */
.d-grid {
    display: grid;
}
  
.grid-2-3 {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
}
  
.grid-col-1-row-1 {
    grid-column: 1;
    grid-row: 1/3;
}
  
.grid-col-1-row-2 {
    grid-column: 1;
    grid-row: 3/4;
}
  
.grid-col-2-row-1 {
    grid-column: 2;
    grid-row: 1/2;
}
  
.grid-col-2-row-2 {
    grid-column: 2;
    grid-row: 2/4;
}

/* === Display Flex ========= */
.d-flex {
    display: flex;
}

.flex-fill {
    flex: 1 1 auto;
}

.flex-77pct {
    flex: 0 0 76.7%;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

/* === Gap ========= */
.gap-2 {
    gap: 0.2rem;
}

.gap-5 {
    gap: 0.5rem;
}

.gap-10 {
    gap: 1rem;
}

.gap-11 {
    gap: 1.1rem;
}


.gap-20 {
    gap: 2rem;
}

.gap-25 {
    gap: 2.5rem;
}

/* === Column ========= */
.col-1 {
    flex: 0 0 calc(100% - 6.2rem);
}

.col-2-gap-20 {
    flex: 0 0 calc(calc(100% - 2rem) /2);
}

.col-2-gap-5 {
    flex: 0 0 calc(calc(100% - 0.5rem) /2);
}

/* === Justify Content ========= */
.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

/* === Align Items ========= */
.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

.align-items-center {
    align-items: center;
}

/* === Border ================= */
.border {
    border: solid;
}

.border-1 {
    border-width: 0.1rem;
}

.border-gray-lighter {
    border-color: var(--gray-lighter);
}

.border-gray-medium {
    border-color: var(--gray-medium);
}

/*=== Rounded =================*/
.rounded-circle-10 {
    border-radius: 1rem;
}

.rounded-circle-29 {
    border-radius: 2.9rem;
}

.rounded-circle-35 {
    border-radius: 3.5rem;
}

.rounded-circle-50 {
    border-radius: 5rem;
}

/* === Padding Top ========= */
.pt-2 {
    padding-top: 0.2rem;
}

.pt-4 {
    padding-top: 0.4rem;
}

.pt-6 {
    padding-top: 0.6rem;
}

.pt-14 {
    padding-top: 1.4rem;
}

.pt-28 {
    padding-top: 2.8rem;
}

/* === Padding Left ========= */


/* === Padding Bottom ========= */
.pb-1 {
    padding-bottom: 0.1rem;
}

.pb-4 {
    padding-bottom: 0.4rem;
}

.pb-12 {
    padding-bottom: 1.2rem;
}

.pb-25 {
    padding-bottom: 2.5rem;
}

.pb-26 {
    padding-bottom: 2.6rem;
}

/* === Padding Right ========= */
.pr-12 {
    padding-right: 1.2rem;
}

/* === Padding X ========= */
.p-30 {
    padding: 3rem;
}

/* === Padding X ========= */
.px-2 {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.px-4 {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.px-6 {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.px-12 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.px-13 {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.px-16 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.px-20 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-26 {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
}

.px-30 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-100 {
    padding-left: 10rem;
    padding-right: 10rem;
}

.px-44 {
    padding-left: 4.4rem;
    padding-right: 4.4rem;
}

/* === Padding Y ========= */
.py-8 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.py-11 {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

.py-12 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.py-13 {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.py-16 {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.py-18 {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

.py-23 {
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
}

/* === Margin Top ========= */
.mt-4 {
    margin-top: 0.4rem;
}

.mt-8 {
    margin-top: 0.8rem;
}

.mt-9 {
    margin-top: 0.9rem;
}

.mt-10 {
    margin-top: 1rem;
}


.mt-16 {
    margin-top: 1.6rem;
}

.mt-17 {
    margin-top: 1.7rem;
}

.mt-18 {
    margin-top: 1.8rem;
}

.mt-19 {
    margin-top: 1.9rem;
}

.mt-20 {
    margin-top: 2rem;
}

.mt-21 {
    margin-top: 2.1rem;
}

.mt-23 {
    margin-top: 2.3rem;
}

.mt-44 {
    margin-top: 4.4rem;
}

.mt-54 {
    margin-top: 5.4rem;
}

.mt-55 {
    margin-top: 5.5rem;
}

.mt-56 {
    margin-top: 5.6rem;
}

.mt-60 {
    margin-top: 6rem;
}

/* === Margin Left ========= */
.ml-1 {
    margin-left: 0.1rem;
}

.ml-4 {
    margin-left: 0.4rem;
}

.ml-5 {
    margin-left: 0.5rem;
}

.ml-25 {
    margin-left: 2.5rem;
}

.ml-29 {
    margin-left: 2.9rem;
}

/* === Margin Bottom ========= */
.mb-8 {
    margin-bottom: 0.8rem;
}

.mb-14 {
    margin-bottom: 1.4rem;
}

.mb-18 {
    margin-bottom: 1.8rem;
}

.mb-20 {
    margin-bottom: 2rem;
}

.mb-34 {
    margin-bottom: 3.4rem;
}

.mb-200 {
    margin-bottom: 20rem;
}

/* === Margin Right ========= */
.mr-3 {
    margin-right: 0.3rem;
}

.mr-4 {
    margin-right: 0.4rem;
}

.mr-5 {
    margin-right: 0.5rem;
}

.mr-49 {
    margin-right: 4.9rem;
}

/* === Margin ========= */
.m-auto {
    margin: auto;
}

/* === Margin X ========= */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* === Margin Y ========= */


/* === Top ========= */
.top-center {
    top: 50%;
    transform: translateY(-50%);
}

.top-0 {
    top: 0rem;
}

.top-10 {
    top: 1rem;
}

.top-175 {
    top: 17.5rem;
}

/* === Left ========= */
.left-center {
    left: 50%;
    transform: translateX(-50%);
}

.left-0 {
    left: 0rem;
}

.left-21 {
    left: 2.1rem;
}

.left-30 {
    left: 3rem;
}

/* === Bottom ========= */
.bottom-0 {
    bottom: 0rem;
}


.bottom-13 {
    bottom: 1.3rem;
}

.bottom-21 {
    bottom: 2.1rem;
}

.bottom-25 {
    bottom: 2.5rem;
}

/* === Right ========= */
.right-10 {
    right: 1rem;
}

.right-19 {
    right: 1.9rem;
}

.right-30 {
    right: 3rem;
}
/* === Line Height ========= */
.lh {
    line-height: 100%;
}

.lh-24 {
    line-height: 2.4rem;
}

.lh-45 {
    line-height: 4.5rem;
}

/* === Font Size ========= */
.fs-12 {
    font-size: 1.2rem;
}

.fs-14 {
    font-size: 1.4rem;
}

.fs-16 {
    font-size: 1.6rem;
}

.fs-18 {
    font-size: 1.8rem;
}

.fs-30 {
    font-size: 3rem;
}

.fs-36 {
    font-size: 3.6rem;
}

.fs-40 {
    font-size: 4rem;
}

/* === Font Weight ========= */
.fw-400{
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

/* === Btn ========= */
.btn-nav:hover {
    color: var(--orange-red);
}

.btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
}

.btn-black {
    color: var(--white);
    border-color: var(--black);
    background-color: var(--black);
}

.btn-white {
    color: var(--black);
    border-color: var(--white);
    background-color: var(--white);
}

.btn-text-trending:hover {
    background-color: var(--color-trending);
}

.btn-icon-trending:hover,
.btn-icon-arrivals:hover {
    color: var(--white);
    background-color: var(--black);
}

.btn-color {
    width: 1.8rem;
    height: 1.8rem;
}

.btn-color-hover:hover {
    border: 0.1rem solid var(--black);
}

.btn-trending-prev:hover,
.btn-trending-next:hover,
.btn-arrivals-prev:hover,
.btn-arrivals-next:hover,
.btn-feedback-prev:hover,
.btn-feedback-next:hover {
    background-color: var(--black);
    color: var(--white);
}

.btn-slideshow-trending,
.btn-slideshow-arrivals,
.btn-slideshow-feedback {
    user-select: none;
}

.wrapper:hover .btn-slideshow-trending,
.wrapper:hover .btn-slideshow-arrivals,
.wrapper:hover .btn-slideshow-feedback {
    opacity: 1;
}

.btn-banner {
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: 2rem;
}

.btn-banner::before {
    content: "";
    position: absolute;
    height: 0.2rem;
    width: 100%;
    background-color: var(--black);
    top: 80%;
    left: 0;
}

.btn-banner:hover {
    color: var(--gray-dark);
}

.card-banner:hover .btn-banner::before {
    animation: btn-banner-hover 0.7s infinite;
}

@keyframes btn-banner-hover {
    from {left: -100%;}
    to {left: 100%;}
}
/* ======================= */
.line-notification {
    width: 100%;
    height: 0.1rem;
}

.card-feedback {
    scroll-snap-align: center;
    user-select: none;
}

/* === Slider ==================== */
.slider {
    width: 100%;
    height: var(--height-slider);
    background-color: var(--color-slider);
}

.slide {
    flex: 0 0 100%;
    opacity: 0.4;
    transition: opacity 1s ease;
}

.slide.active {
    opacity: 1;
}

.img-slide {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--position-img-slider);
}

.prev:hover, 
.next:hover {
    background-color: var(--black);
    color: var(--white);
}

.slider-dots {
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    height: 0.8rem;
    width: 0.8rem;
    margin: 0.5rem;
    background-color: var(--gray-medium);
    border-radius: 50%;
    display: inline-block;
}

.dot:hover {
    background-color: var(--gray-dark);
}

.dot.active {
    background-color: var(--black);
}

/*=== Rating =================*/
.rate-input:checked ~ label,
.rate-input:checked ~ label ~ label {
    color: var(--black);
}

.rate-label:hover,
.rate-label:hover ~ label {
    color: var(--black);
}

/* -------- */
/* .carousel-ig {
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    overflow-x: scroll;
    display: flex;
    scroll-behavior: smooth;
}
.carousel-ig img {
    scroll-snap-align: center;
    object-fit: cover;
} */