* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
    font-size: 1.6rem;
    font-family: "Jost", sans-serif;
}

/* ===Common=== */
a{
    text-decoration: none;
}

header, main {
    width: 1920px;
    max-width: calc(100%);
    margin-left: auto;
    margin-right: auto;
}

/* ============Header============ */

/* ===Notification=== */
.notification {
    display: flex;
    background: #D0473E;
    padding-top: 10px;
    padding-bottom: 10px;
}

.notification .topbar {
    margin: auto;
}

.notification .topbar ul {
    display: flex;
    color: #FFFFFF;
}

.notification .btn-X {
    font-family: blueskytechco;
    padding-right: 10px;
    color: #FFFFFF;
}

/* ===Top Links=== */
.top-links {
    display: flex;
    padding: 10px;
}

.top-links a {
    color: black;
}

.top-links .a {
    display: flex; 
}

.top-links .a p {
    padding: 0 5px;
}

.top-links .b {
    display: flex;
    margin: auto;
}

.top-links .b a {
    padding: 0 5px;
    text-decoration: underline;
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.top-links .language {
    display: flex;
}

.top-links .language div {
    margin: 0px 5px;
}

/* ===Background=== */
.background {
    display: flex;
    padding: 10px 18px;
}

.background nav {
    display: flex;
    margin: auto;
}

.background nav div {
    padding: 0 15px;
}

.background nav a {
    color: black;
    text-shadow: 1px 0 0 currentColor;
}

.background .icon img {
    padding: 0 5px;
}

/* ============Main============ */

/* ===Slider=== */
.slider {
    position: relative;
}

.slider .img-slider {
    display: flex;
    overflow: hidden;
}

.slider .img-slider {
    transform: translateX();
    transition: transform 0.5s ease-in-out;
    object-fit: cover;
}

.slider .img-slider img {
    width: 1500px;
    height: 600px; 
}

.slider .text-slider {
    /* background-color: aqua; */
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 30px 10px;
    position: absolute;
    left: 250px;
    top: 200px;
}

.slider .text-slider h1 {
    font-size: 45px;
    font-weight: 500;
}

.slider .text-slider p {
    padding: 10px 0 30px 0;
}

.slider .text-slider .bnt-en {
    display: inline-block;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    background: black;
}