* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
    font-size: 1.6rem;
    font-family: "Jost", sans-serif;
}

/* ===Common=== */
a{
    text-decoration: none;
}

body {
    width: 1920px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* ============Header============ */

/* ===Notification=== */
.notification {
    display: flex;
    background: #D0473E;
    padding-top: 10px;
    padding-bottom: 10px;
}

.notification .topbar {
    margin: auto;
    color: #ffffff;
}

.notification .topbar ul {
    display: flex;
}

.notification .topbar ul li {
    padding: 0 5px;
}

.notification .btn-X {
    font-family: blueskytechco;
    padding-right: 20px;
    color: #ffffff;
}

/* ===Top Links=== */
.top-links {
    display: flex;
    padding: 10px;
}

.top-links a {
    color: black;
}

.top-links p {
    padding: 0 5px;
}

.top-links .a {
    display: flex; 
}

.top-links .b {
    display: flex;
    margin: auto;
}

.top-links .b a {
    padding: 0 5px;
    text-decoration: underline;
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.top-links nav ul {
    display: flex;
}

.top-links nav ul li {
    padding: 0 15px;
}

/* ===Background=== */
.background {
    display: flex;
    padding: 10px 20px;
}

.background nav {
    margin: auto;
}

.background nav ul {
    display: flex;
}

.background nav ul li {
    padding: 0 15px;
}

.background nav a {
    color: black;
    text-shadow: 1px 0 0 currentColor;
}

.background .icon img {
    padding: 0 10px;
}

/* ============Main============ */

/* ===Slider=== */
.slider {
    position: relative;
}

.slider img {
    max-width: 100%;
    height: auto;
}

.slider .text {
    width: 300px;
    height: 250px;
    text-align: center;
    padding: 30px 10px;
    position: absolute;
    left: 15%;
    top: 30%;
}

.slider .text h1 {
    font-size: 45px;
    font-weight: 500;
}

.slider .text p {
    padding: 20px 0 30px 0;
}

.slider .text .bnt-en {
    display: inline-block;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    background: black;
}

.slider .hover-button a {
    font-size: 25px;
    color: gray;
    position: absolute;
    top: 50%;
    padding: 10px 15px;
    border-radius: 50%;
    background: white;
}

.slider .hover-button a:hover {
    background: black;
    color: white;
}

.slider .hover-button .btn-l {
    left: 0;
}

.slider .hover-button .btn-r {
    right: 0;
}

.slider .dot {
    display: flex;
    position: absolute;
    bottom: 1%;
    left: 50%;
}

.slider .dot button {
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    background-color: gray;
    border: gray;
}

.slider .dot button:hover {
    background-color: black;
}

/* ===Feature Categories=== */
.feature {
    width: 1410px;
    margin: auto;
    padding-top: 100px;
}

.feature .title {
    text-align: center;
}

.feature .title h1 {
    font-size: 45px;
    padding-bottom: 10px;
}

.feature .categories {
    margin-top: 20px;
    display: flex;
}

.feature .categories .b {
    margin: auto;
}

.feature .categories .b .sunglasses {
    padding-bottom: 27px;
}

.feature .categories .clothing,
.feature .categories .b .sunglasses,
.feature .categories .b .bags,
.feature .categories .sneaker {
    position: relative;
}

.feature .categories .btn {
    position: absolute;
    bottom: 10%;
    left: 30%;
    display: inline-block;
    padding: 15px 45px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    background: white;
}

.feature img {
    max-width: 100%;
    height: auto;
}